<div class="row">
    <div class="col-md-4">
        <!-- Module
        <form class="form-inline" ng-submit="submit()">
            <input type="text" class="form-control" ng-model="newModule.name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->
        <select class="form-control" ng-model="module.name" ng-change="getModuleByName()">
            <option value="assets">{{selectedLanguage.fields.labels.asset}}</option>
            <option value="devices">{{selectedLanguage.fields.labels.rfid_scanner}}</option>
            <option value="users">{{selectedLanguage.fields.labels.user}}</option>
            <option value="warehouses">{{selectedLanguage.fields.labels.warehouse}}</option>
        </select>
        <hr>
        <div>
            <form class="form-group" ng-submit="saveField()">
                <label>{{selectedLanguage.fields.labels.tableName + ':'}}</label>
                <input type="text" class="form-control" ng-model="newField.name">
                <input type="checkbox" ng-model="newField.required"> <b>{{selectedLanguage.fields.labels.required}}</b>
                <input type="checkbox" ng-model="newField.unique"> <b>{{selectedLanguage.fields.labels.unique}}</b>
                <select class="form-control" ng-model="newField.type">
                    <option>text</option>
                    <option>password</option>
                    <option>email</option>
                    <option>number</option>
                    <option>date</option>
                </select>
                <button type="submit" class="btn btn-primary">{{selectedLanguage.commons.save}}</button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead>
                <th>{{selectedLanguage.fields.labels.tableName}}</th>
                <th>{{selectedLanguage.fields.labels.required}}</th>
                <th>{{selectedLanguage.fields.labels.unique}}</th>
                <th>{{selectedLanguage.fields.labels.tableType}}</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="field in module.fields">
                    <td ng-bind="field.name"></td>
                    <td>{{selectedLanguage.fields.labels[(field.required) ? 'required' : 'notRequired']}}</td>
                    <td>{{selectedLanguage.fields.labels[(field.unique) ? 'unique' : 'notUnique']}}</td>
                    <td></td>
                    <td>
                        <div class="pull-right">
                            <a style = "cursor:pointer"><i class="fa fa-list-alt" aria-hidden="true" ng-click="editField(field)" data-toggle="tooltip" title="{{selectedLanguage.commons.edit}}"></i><a>
                                |
                            <a style = "cursor:pointer"><i class="fa fa-trash" aria-hidden="true" ng-click="deleteField(field)" data-toggle="tooltip" title="{{selectedLanguage.commons.delete}}"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>